.Layout6-container{
    background-color: #EAFFFF;
    width: 100%;
    height: auto;
    margin: 40px 0;
    padding: 20px 20px 0 20px;
}
.Layout6-container h1{
    margin: 0 20px;
    font-size: 66px;
    font-weight: 400;
    font-family: "oswald",sans-serif;
}
.Layout6 img{
    width: 40%;
    height: 416px;
}
.Layout6{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.Layout6 h1{
    font-size: 144px;
    font-family: "oswald",sans-serif;
    font-weight: 400;
}
.Layout6 p{
    font-size: 32px;
    font-weight: 700;
    font-family: "Open Sans",sans-serif;
    color: #000000;
}
.Layout6 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 319px;
    height: 248px;

}
@media only screen and (min-width:700px) and (max-width:1050px) {
    .Layout6-container{
        width: 100%;
        flex-direction: column;
        margin-left: auto;
    }
    .Layout6-container h1{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    
}
@media only screen and (max-width:700px){
    .Layout6{
        width: 100%;
        flex-direction: column;
        margin-left: auto;
    }
    .Layout6-container h1{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .Layout6-container{
        width: 70%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }
    
}
