.Layout4{
    width: 100%;
    height: auto;
    margin: 20px auto;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    
}
.Layout4 h2{
    font-family: "oswald",sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin: 20px 0;
}
.Layout4 p{
    width: 100%;
    height: auto;
    font-size: 27px;
    font-weight: 400;
    font-family: "Open Sans",sans-serif;
    margin-top: 20px ;
    padding: 30px 20px;
    text-align: center;
}
.Layout4 img {
    max-width: 900px;
    border: none;
    border-radius: 10px;
}
@media only screen and (min-width:700px) and (max-width:1000px){
    .Layout4{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: auto;
        /* border: 2px red solid;    */
    }
    .Layout4 h2{
        margin-left: 0;
        /* border: 2px red solid;    */

    }
    .Layout4 p{
        width: 75%;
        margin-left: auto;
        padding: 30px;
        /* border: 2px red solid;  */
    }    
}
@media only screen and (min-width:468px) and (max-width:700px){
    .Layout4{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: auto;
        /* border: 2px red solid;    */
    }
    .Layout4 h2{
        margin-left: 0;
        border: 2px red solid;   

    }
    .Layout4 p{
        width: 68%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        padding: 30px;
        /* border: 2px red solid;  */
    }    
}
@media only screen and (max-width:468px){
    .Layout4{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: auto;
    }
    .Layout4 h2{
        margin-left: 0px;
        border: 2px red solid;   

    }
    .Layout4 p{
        width: 60%;
        margin-left: auto;
        padding: 30px;
        /* border: 2px red solid;  */
    }    
}