.menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: transparent; /* or keep it if needed */
  z-index: 1000;
  margin-top: 10px;
}


.menu ul{
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.menu ul li {
  width: 100%; /* stretch full */
  color: white;
  text-align: center;
  padding: 4px 9px;
}

.menu-acive-class{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 28px;
    font-family: "oswald",sans-serif;
}