.Award-container{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    height: 466px;
    /* margin-left: 0; */
    /* border: solid 2px red; */
}
.award-left{
    /* border: solid 2px red; */
    width: 50%;
    height: 466px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.award-left h1{
    margin-top: 45px;
    height: 128px;
    font-size: 43px;
    font-family: "oswald",sans-serif;
    width: 79%;
    font-weight: 600;
}
.award-left p{
    font-size: 16px;
    font-family: "Inter",Verdana, Geneva, Tahoma, sans-serif;
    width: 79%;
    height: 133px;
    font-weight: 400;
}
.award-right img{
    /* border: solid 2px red; */
    width: 100%;
    height: 466px;
}
#view{
    color:#581B84;
}
#view a{
    text-decoration: none;

}
@media only screen and (max-width: 1000px){
    .Award-container{
        width: 100%;
        margin:0 auto;
        margin-top: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
        padding: 2px;
    }
    .award-right{
        margin-top: 0px;
    }
    .award-left{
    /* border: solid 2px red; */
    
    
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
    /* gap: px; */
}
@media only screen and (min-width: 1000px) and (max-width:1200px){
    body{
        background-color: lightblue;
    }
    .Award-container{
        width: 95%;
        margin:0 auto;
        margin-top: 2px;
        display: flex;
        flex-wrap: wrap;
        overflow-x:hidden ;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        height: auto;
        padding: 10px;
        gap: 0px;
        box-sizing: border-box;
    }
    .award-right{
        margin-top: 0px;
        min-width: 300px;
        width: 40%;
    }
    .award-left{
    /* border: solid 2px red;     */
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding: 10px;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
    width: 40%;
    /* margin: 0 auto; */
    /* gap: px; */
}

    
}
    
}
@media only screen and (min-width:350px) and (max-width: 700px){
    .Award-container{
        width: 100%;
        margin:0 auto;
        margin-top: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
        padding: 2px;
    }
    .award-right{
        margin-top: 0px;
        width: 70%;
        margin-left: auto;
    }
    .award-left{
    /* border: solid 2px red; */
    margin-left: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
    /* gap: px; */
}

    
}