@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Varela+Round&display=swap');

*{
    font-family: "Oswald", sans-serif;
}
.impact-card {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 300px;

    margin: auto;
  }
  
  .impact-title {
    margin-left: 50px;
    font-size: 107px;
    font-weight: 400;
    color: black;
  }
  
  .impact-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ensures spacing works properly */
  }
  
  .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; /* Allows equal spacing */
  }
  
  .stat-number {
    font-size: 75px;
    font-weight: bold;
    color: teal;
  }
  
  .stat-text {
    font-size: 50px;
    color: #333;
  }
  