.PhotosContainer{
    width: 1440px;
    height: 880px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.photo{
    position: absolute;
    height: 800px;
    width: 1360px;
    
}

#icon-2{
    position: absolute;
    left: 75px;
    cursor: pointer;
    z-index: 1;
}
#icon-1{
    position: absolute;
    right: 75px;
    cursor: pointer;
}
.PhotosContainer p{
    position: absolute;
    bottom: 50px;
    color: black;

}